/* dashboard.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}



.cardContainer {
  flex-grow: 1; /* Takes up the remaining width */
  padding: 20px; /* Spacing inside the card container */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3 column layout */
  grid-template-rows: auto; /* Row height will be determined by the content */
  grid-gap: 20px; /* Space between cards */
  background-image: linear-gradient(to right bottom, #87a922, #5a9132, #367739, #1c5c39, #114232);
}

/* Add basic styling for the cards. */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3 column layout */
  grid-template-rows: repeat(4, auto); /* Creates a 4 row layout to accommodate all cards */
  grid-gap: 20px; /* Space between cards */
}



.card.medium {
  grid-row: span 1; /* Medium card will span 1 row */
}

.card.large {
  grid-column: span 1;
  grid-row: span 2; /* Large card will span 2 rows */
  position: relative; /* Position relative for absolute positioning inside */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.extralarge {
  grid-column: span 1; /* Now it will span only 1 column instead of 2 */
  grid-row: span 2; /* Assuming you want to keep the height the same */
}


/* New style for MHolder to make it a grid container for the small cards */
.MHolder {
  display: grid;
  grid-template-columns: auto; /* Single column layout */
  grid-template-rows: 1fr 1fr; /* Two rows to accommodate both small cards */
  background-color: #00000000;
  align-content: start;
  padding: 0;
  grid-gap: 20px;
  /* No padding on sides, top, or bottom for the small cards, but maintaining the 20px gap */
}

/* Ensure the small cards fill the .MHolder space */
.card.small {
  /* Small card will take up the full space available in the cell, minus the padding defined on the card itself */
  width: calc(100% - 40px); /* 100% of the cell width minus the left and right padding */
  height: calc(50%-40px-10px  ); /* 50% of the cell height minus the top and bottom padding and half of the vertical gap */
}
.lights {
  display: flex;
  align-items: center;
}



.lights-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.lights-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px; /* Adjust as needed */
}

.lights-item.total-lights .number {
  font-size: 2em; /* Large size for the total number */
  font-weight: bold;
  color: #5a5a5a; /* Adjust the color to match your design */
}

.lights-item:not(.total-lights) .number {
  font-size: 1em; /* Smaller size for other numbers */
  color: #5a5a5a; /* Adjust the color to match your design */
}

.lights-item .label {
  margin-left: 10px;
  font-size: 0.8em;
  color: #a3a3a3; /* Adjust the color to match your design */
}

/* Additional icon styles if necessary */
.lights-icon {
  /* Example of using FontAwesome for the icon */
  font-weight: 900;
  font-size: 2em; /* Adjust the size as necessary */
  color: #9170E4; /* Adjust the color to match your design */
  margin-right: 15px; /* Space between the icon and the text */
}


/*=== Settings Bar ===*/
.settingBar {
  width: 150px; /* Adjust width as needed */
  background-image: linear-gradient(to left bottom, #87a922, #5a9132, #367739, #1c5c39, #114232);
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Evenly distribute buttons with space around */
  align-items: center;
  padding: 10px;
  height: 100vh; /* Set height to 100% of the viewport */
  position: fixed; /* Make it fixed to scroll with the page */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left or right as per your layout */
}

.button {
  background-color: #f9f8cd; /* Background color for buttons */
  border: none;
  border-radius: 10%;
  width: 120px; /* Width of buttons */
  height: 100px; /* Height of buttons */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  padding: 10px; /* Padding inside the button */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds shadow for depth */
  color: #114232; /* Icon color */
  font-size: 24px; /* Icon size */
  text-align: center; /* Center the text horizontally */
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
}

.button-label {
  font-size: 12px; /* Font size for the label text */
  color: #5a5a5a; /* Label text color */
}

.fa-solid {
  margin-bottom: 5px; /* Space below the icon */
}

.button:hover {
  box-shadow:0px 0px 20px 10px #bdd926;
}

/*=== Enviroment ===*/
.environmental-data {
  padding: 10px;
}

.environmental-data h2 {
  font-size: 1.5em;
  color: #436850; /* Adjust color as needed */
  margin-bottom: 10px;
}



.data-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Spacing between cards */
  padding: 10px;
  background-color: #ffffff; /* Adjust as necessary */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.data-icon {
  font-size: 2rem; /* Adjust icon size as necessary */
  color: #436850; /* Adjust icon color as necessary */
  margin-right: 15px; /* Space between icon and text */
}

.data-content {
  flex-grow: 1;
}

.data-label {
  font-weight: bold;
  color: #436850; /* Adjust label color as necessary */
}

.data-value {
  display: block; /* Makes the value appear on a new line */
  color: #114232; /* Adjust value color as necessary */
  font-size: 1.2rem; /* Adjust value size as necessary */
}


body {
  padding-left: 170px; /* Adjust this value based on the width of the settingBar */
}

