/* dashboard.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}



.cardContainer {
  flex-grow: 1; /* Takes up the remaining width */
  padding: 20px; /* Spacing inside the card container */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3 column layout */
  grid-template-rows: auto; /* Row height will be determined by the content */
  grid-gap: 20px; /* Space between cards */
  background-image: linear-gradient(to right bottom, #87a922, #5a9132, #367739, #1c5c39, #114232);
}

/* Add basic styling for the cards. */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3 column layout */
  grid-template-rows: repeat(4, auto); /* Creates a 4 row layout to accommodate all cards */
  grid-gap: 20px; /* Space between cards */
}



.card.medium {
  grid-row: span 1; /* Medium card will span 1 row */
}



.card.extralarge {
  grid-column: span 1; /* Now it will span only 1 column instead of 2 */
  grid-row: span 2; /* Assuming you want to keep the height the same */
}


/* New style for MHolder to make it a grid container for the small cards */
.MHolder {
  display: grid;
  grid-template-columns: auto; /* Single column layout */
  grid-template-rows: 1fr 1fr; /* Two rows to accommodate both small cards */
  background-color: #00000000;
  align-content: start;
  padding: 0;
  grid-gap: 20px;
  /* No padding on sides, top, or bottom for the small cards, but maintaining the 20px gap */
}

/* Ensure the small cards fill the .MHolder space */
.card.small {
  /* Small card will take up the full space available in the cell, minus the padding defined on the card itself */
  width: calc(100% - 40px); /* 100% of the cell width minus the left and right padding */
  height: calc(50%-40px-10px  ); /* 50% of the cell height minus the top and bottom padding and half of the vertical gap */
  display: flex;
  justify-content: space-around;
}

.category {
  display: flex;
  align-items: center;
}

.category-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.category-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px; /* Adjust as needed */
}

.category-item.total-lights .number,
.category-item.total-cameras .number {
  font-size: 2em; /* Large size for the total number */
  font-weight: bold;
  color: #5a5a5a; /* Adjust the color to match your design */
}

.category-item:not(.total-lights):not(.total-cameras) .number {
  font-size: 1em; /* Smaller size for other numbers */
  color: #5a5a5a; /* Adjust the color to match your design */
}

.category-item .label {
  margin-left: 10px;
  font-size: 0.8em;
  color: #a3a3a3; /* Adjust the color to match your design */
}

/* Additional icon styles if necessary */
.category-icon {
  font-weight: 900;
  font-size: 2em; /* Adjust the size as necessary */
  color: #436850; /* Adjust the color to match your design */
  margin-right: 15px; /* Space between the icon and the text */
}


/*=== Settings Bar ===*/
.settingBar {
  width: 150px; /* Adjust width as needed */
  background-image: linear-gradient(to left bottom, #87a922, #5a9132, #367739, #1c5c39, #114232);
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Evenly distribute buttons with space around */
  align-items: center;
  padding: 10px;
  height: 100vh; /* Set height to 100% of the viewport */
  position: fixed; /* Make it fixed to scroll with the page */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left or right as per your layout */
}

.button {
  background-color: #f9f8cd; /* Background color for buttons */
  border: none;
  border-radius: 10%;
  width: 120px; /* Width of buttons */
  height: 100px; /* Height of buttons */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  padding: 10px; /* Padding inside the button */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds shadow for depth */
  color: #114232; /* Icon color */
  font-size: 24px; /* Icon size */
  text-align: center; /* Center the text horizontally */
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
}

.button-label {
  font-size: 12px; /* Font size for the label text */
  color: #5a5a5a; /* Label text color */
}

.fa-solid {
  margin-bottom: 5px; /* Space below the icon */
}

.button:hover {
  box-shadow:0px 0px 20px 10px #bdd926;
}
/*=== Light ===*/



.category-item i {
  margin-right: 8px; /* Space between the icon and the text */
  color: #9170E4; /* Adjust the color to match your design */
  width: 20px; /* Ensure the icons align nicely with the text */
  text-align: center;
}

.category-item .number, .category-item .time {
  margin-left: 8px; /* Ensure spacing after the icon */
}

/* You might want to style specific icons differently */
.category-item .fa-lightbulb { /* Example for the lamp post icon */
  color: #FFD700; /* Gold color for the lightbulb */
}

.category-item .fa-check { /* Example for the functioning icon */
  color: #28a745; /* Green color for the check mark */
}

.category-item .fa-times { /* Example for the inactive icon */
  color: #dc3545; /* Red color for the times */
}

.category-item .fa-sun { /* Example for the sunrise icon */
  color: #f39c12; /* Orange color for the sun */
}

.category-item .fa-moon { /* Example for the sunset icon */
  color: #343a40; /* Dark color for the moon */
}


/*=== Enviroment ===*/

.card.large {
  grid-column: span 1;
  grid-row: span 2;
  padding: 15px; /* Padding inside the card */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden; /* Hide the overflow */
  height: calc(100% - 30px); /* Full height minus padding */
  display: flex;
  flex-direction: column; /* Stack the title and grid */
}

.environmental-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(5, 1fr); /* Adjust the number of rows if necessary */
  grid-gap: 15px;
  grid-template-areas: 
    ". title ."
    "temp press hum"
    "cloud ozone no2"
    "prec uv wind"
    "fut1 fut2 fut3"
    "fut4 fut5 fut6";
}
#title {
  grid-area: title;
  color: #436850;
}
#temperature {
  grid-area: temp;
}
#pressure {
  grid-area: press;
}
#humidity {
  grid-area: hum;
}
#cloudCov{
  grid-area: cloud;
}
#O3{
  grid-area: ozone;
}
#NO2 {
  grid-area: no2;
}
#precipitation{
  grid-area: prec;
}
#uvIndex{
  grid-area: uv;
}
#windSpeed{
  grid-area: wind;
}
#future1{
  grid-area: fut1;
}
#future2{
  grid-area: fut2;
}
#future3{
  grid-area: fut3;
}
#future4{
  grid-area: fut4;
}
#future5{
  grid-area: fut5;
}
#future6{
  grid-area: fut6;
}
.environmental-data h2 {
  text-align: center; /* Center the text */
  margin-bottom: 15px; /* Margin below the title */
  align-self: center; /* Center the title within the card */
}

.data-card .fa-solid {
  margin-right: 4px;
}

.data-card .data-label,
.data-card .data-value {
  display: flex;
  align-items: center;
  margin-bottom: 4px; /* Adjust spacing as needed */
}

.data-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-icon {
  font-size: 1.5rem;
  color: #436850;
  margin-bottom: 5px;
}

.data-label, .data-value {
  font-size: 1rem;
  color: #114232;
  font-weight: bold;
}

.data-content {
  display: flex;
  flex-direction: column;
}

/* Ensuring there's no unnecessary scrolling inside .card.large */
.card.large {
  overflow: auto; /* Allow scroll only if needed */
}

/*===Traffic Alert ===*/

#traffic-alerts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Styles for traffic alert list items */
.traffic-alert {
  background-color: #f2dede; /* default alert background */
  color: #000000; /* default alert text color */
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

/* Severity-based background colors for traffic alerts */
.traffic-alert-high {
  background-color: #d9534f; /* red */
}

.traffic-alert-medium {
  background-color: #f0ad4e; /* orange */
}

.traffic-alert-low {
  background-color: #5bc0de; /* blue */
}

/* Traffic alert card styles */
#traffic-alerts {
  display: flex;
  flex-direction: column;
  position: relative; /* Allow absolute positioning inside */
  overflow-y: auto; /* Make only the list scrollable */
  max-height: 300px; /* Set a fixed height to enable scrolling */
  padding-top: 40px; /* This gives enough space at the top for the title */
}

/* Title styles for the traffic alert card */
#traffic-alerts h2 {
  position: absolute; /* Absolute position */
  top: 0; /* Stick to the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust the positioning to the exact center */
  width: 100%; /* Full width */
  text-align: center; /* Align the text to the center */
  margin-top: 10px; /* Add top margin for spacing */
  z-index: 10; /* Make sure it sits above other content */
}

#traffic-alert-list {
  list-style: none; /* Remove default list style */
  padding: 0;
  margin: 0; /* Remove default margin */
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%; /* Full height to enable scrolling within the card */
}

#traffic-alert-list li {
  background-color: #f2dede; /* Light red background for alert */
  margin: 10px 0; /* Spacing between alerts */
  padding: 10px;
  border-radius: 5px;
  border-left: 5px solid #d9534f; /* Left border color indicating the severity */
}

#traffic-alert-list li.high-severity {
  border-left-color: #d9534f; /* Red for high severity */
  background-color: #f2dede; /* Light red background */
}

#traffic-alert-list li.medium-severity {
  border-left-color: #f0ad4e; /* Orange for medium severity */
  background-color: #fcf8e3; /* Light yellow background */
}

#traffic-alert-list li.low-severity {
  border-left-color: #5bc0de; /* Blue for low severity */
  background-color: #d9edf7; /* Light blue background */
}

#energyConsumptionChart {
  width: 800px;  /* or any other fixed width */
  height: 400px; /* or any other fixed height */
}

/* === Congestion ===*/



/*=== Weather Alerts ===*/

#weather-alerts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.H2{
  color: #436850;
}

/* Add styles for alert list items */
.alert {
  background-color: #f2dede; /* default alert background */
  color: #000000; /* default alert text color */
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

/* Dynamic severity-based background colors */
.alert-high {
  background-color: #d9534f; /* red */
}

.alert-medium {
  background-color: #f0ad4e; /* orange */
}

.alert-low {
  background-color: #5bc0de; /* blue */
}

/* Weather alert card styles */
#weather-alerts {
  display: flex;
  flex-direction: column;
  position: relative; /* Allow absolute positioning inside */
  overflow-y: auto; /* Make only the list scrollable */
  max-height: 300px; /* Set a fixed height to enable scrolling */
  padding-top: 40px; /* This gives enough space at the top for the title */
}

/* Title styles */
#weather-alerts h2 {
  position: absolute; /* Absolute position */
  top: 0; /* Stick to the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust the positioning to the exact center */
  width: 100%; /* Full width */
  text-align: center; /* Align the text to the center */
  margin-top: 10px; /* Add top margin for spacing */
  z-index: 10; /* Make sure it sits above other content */
}


#alert-list {
  list-style: none; /* Remove default list style */
  padding: 0;
  margin: 0; /* Remove default margin */
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100%; /* Full height to enable scrolling within the card */
}

#alert-list li {
  background-color: #f2dede; /* Light red background for alert */
  margin: 10px 0; /* Spacing between alerts */
  padding: 10px;
  border-radius: 5px;
  border-left: 5px solid #d9534f; /* Left border color indicating the severity */
} 

#alert-list li.high-severity {
  border-left-color: #d9534f; /* Red for high severity */
  background-color: #f2dede; /* Light red background */
}

#alert-list li.medium-severity {
  border-left-color: #f0ad4e; /* Orange for medium severity */
  background-color: #fcf8e3; /* Light yellow background */
}

#alert-list li.low-severity {
  border-left-color: #5bc0de; /* Blue for low severity */
  background-color: #d9edf7; /* Light blue background */
}


body {
  padding-left: 170px; /* Adjust this value based on the width of the settingBar */
}

